* {
    font-family: "Ubuntu", sans-serif;
}

body{
    margin: 0px;
    padding: 0;
    
}

:root{
    --header-color: #0047ab;
    --cor-texto-ligth: aliceblue;
}

.headershark h1{
    text-transform: uppercase;

}

.headershark{
    width: 100%;
    background-color: var(--header-color);
    color: var(--cor-texto-ligth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    padding: auto;
    padding-bottom: 10px;
}

.navegacao{
    gap: 150px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.navegacao a{
    text-decoration: none;
    font-weight: 500;
    color: var(--cor-texto-ligth);
    display: inline-block;
    transition: 0.2s;
}

.navegacao a:hover{
    transform: scale(1.2);
}

.baixo{
    background-color: black;
    color: var(--cor-texto-ligth);
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
}





@media (max-width: 900px) {
    .navegacao{
        gap: 1.1rem;
    }

    .headershark{
    font-size: 0.8rem;
    }
}
